@page "/AddRecipe"
@model BarWebApp2.Pages.AddRecipeModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@if (TempData.ContainsKey("ErrorMessage"))
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}
else
{

<form method="post" class="form-inline">

    <!-- in Recipe Table    -->
    <div class="col-10">
        <h3>Recipe: </h3>
    </div>

    <div class="row"  id="recipeGroup">
       <div class="form-group col-md-6" >
          <label  asp-for="Recipe.Title">Title </label>
          <input class="form-control" asp-for="Recipe.Title" />
       </div>

       <div class="form-group col-md-6 " >
          <label  asp-for="Recipe.Description">Description </label>
          <input class="form-control" asp-for="Recipe.Description"  />
       </div>
    </div>  
  


    <!-- Ingredient Area   --> 
    <div class="row   mt-5 mb-2">
        <div class="col-2">
            <h3>Ingredients: </h3>
        </div>
       
        <div class="col-2 mt-1">
            <button id="addRow" type="button" class="btn btn-primary ">Add Ingredient</button>
        </div>
      
    </div>


       <div class="row">
           <h4 class="col-5">
               Name
           </h4>
           <h4 class="col-2">
               Quantity
           </h4>
           <h4 class="col-2">
               Unit
          </h4> 
       
       </div> 

    <div id="newRow">
        <input type="hidden" id="total" value="0" />
    </div>

    <!--    Ingredient Area  END -->



    <!-- in Instruction Table    -->  


        <div class="row   mt-5 mb-2">
            <div class="col-2">
                <h3>Instructions: </h3>
            </div>

            <div class="col-2 mt-1">
                <button id="addInstructionRow" type="button" class="btn btn-primary ">Add Instruction</button>
            </div>

        </div>

       <h4>Preparation Step: </h4>
        <div id="newInstructionRow">
            <input type="hidden" id="instructionTotal" value="0" />
        </div>


	<button  type="submit" class="btn btn-danger mt-2" >Add Recipe</button>
  </form>
  }
  
@section Scripts  
{  
    <script>
     
    //-------------------------------------
    // Add Ingredient Rows
    //-------------------------------------
    $("#addRow").click(function ()  
    {  
        var rowCount = parseInt($("#total").val());  
        rowCount++;  
        $("#total").val(rowCount);  
        var html = ''; 
           
            html += '<div id="inputRow" class="ingredientGroup   row mt-3 mb-3 "  >'
            html += '   <div class="form-group  col-md-5" > ' ;
            html += '       <input class="form-control" name="Ingredients[' + (rowCount - 1) + '].IngredientName"   asp-for="Ingredients[' + (rowCount - 1) + '].IngredientName"  />'
            html += '  </div>';
            html += '<div class="form-group col-md-2" > ';
            html += '    <input class="form-control"  name="Ingredients[' + (rowCount - 1) + '].Quantity"  asp-for="Ingredients[' + (rowCount - 1) + '].Quantity" maxlength="5" />'
            html += '</div>';

            html += '<div class="form-group col-md-2"  >';
            html += '   <select class="form-select"      name="Ingredients[' + (rowCount - 1) + '].Unit"   asp-for="Ingredients[' + (rowCount - 1) + '].Unit">'
            html += '        <option value="cup">cup</option>';
            html += '        <option value="oz">oz</option>';
            html += '        <option value="jigger">jigger</option>';
            html += '   </select>';
            html += '</div>';
            html += '<div class="form-group col-md-1" >'
            html += '   <button id="removeRow" type="button" class="btn btn-danger btn-sm ">Remove</button>';
            html += '</div>';
            html += '</div>';

        $('#newRow').append(html);  
    });  

    //Remove Ingredient Rows
    $(document).on('click', '#removeRow', function ()  
    {  
        var rowCount = parseInt($("#total").val());  
        rowCount--;  
        $("#total").val(rowCount);  
        $(this).closest('#inputRow').remove();  
    });


   
    //-------------------------------------------
    //Add Instruction  Rows   
    //--------------------------------------------

        $("#addInstructionRow").click(function () {
            var instructionRowCount = parseInt($("#instructionTotal").val());
            instructionRowCount++;
            $("#instructionTotal").val(instructionRowCount);
            var html = '';

            html += '<div id="inputInstructionRow" class="instructionGroup row mt-3 mb-3"  >'
            html += '   <div class="form-group  col-md-5" > ';
            html += '       <input class="form-control" name="Instructions[' + (instructionRowCount - 1) + '].Description"   asp-for="Instructions[' + (instructionRowCount - 1) + '].Description"  />'
            html += '  </div>';       
            html += '<div class="form-group col-md-1" >'
            html += '   <button id="removeInstructionRow" type="button" class="btn btn-danger btn-sm ">Remove</button>';
            html += '</div>';
            html += '</div>';

            $('#newInstructionRow').append(html);
        });

        //Remove Instruction Rows
        $(document).on('click', '#removeInstructionRow', function () {
            var instructionRowCount = parseInt($("#instructionTotal").val());
            instructionRowCount--;
            $("#instructionTotal").val(instructionRowCount);
            $(this).closest('#inputInstructionRow').remove();
        });

        $("#addRow").trigger('click');

        $("#addInstructionRow").trigger('click');

    </script>  
}

