@page
@model BarWebApp2.Pages.RecipeModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
	ViewData["Title"] = "Recipes ";
}

<h1>@ViewData["Title"]</h1>
<a asp-page="/AddRecipe"  class="btn btn-primary btn-sm  mb-3  mt-3 ">
	Add New Recipe
</a>
<ul >

@foreach (var  r in Model.Recipes)
{
	<li>
		<div class="row">		    	
		
		    	<div >
	                <a asp-page="/DisplayRecipes" asp-route-Id="@r.RecipeId">@r.Title</a>
		    	</div>			
	     
		</div>
	</li>
}

</ul>




